KAFKA_BROKERS=redpanda:9092
KAFKA_TOPIC=unit-alerts
KAFKA_GROUP_ID=alert-distributor
RUST_LOG=info
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_USERNAME=siscom-live-consumer
KAFKA_PASSWORD=liveconsumerpassword
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
