DB_HOST=localhost
DB_USER=user
DB_PASSWORD=pass
DB_PORT=5432
DB_NAME=app_db
KAFKA_BROKERS=redpanda:9092
KAFKA_TOPIC=unit-alerts
KAFKA_GROUP_ID=alert-distributor
RUST_LOG=info
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_USERNAME=siscom-live-consumer
KAFKA_PASSWORD=liveconsumerpassword
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
AWS_REGION=us-east-1
WS_BIND_ADDR=0.0.0.0:8080
WS_CHANNEL_CAPACITY=1024
WS_HEARTBEAT_INTERVAL_SECS=30
WS_HEARTBEAT_TIMEOUT_SECS=60
JWT_PUBLIC_KEY_PEM="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzK6S+xOE/a6AB8vYRXLC\nFpIBAWpLVdNRtuTdeR6tWsi/hJttJi536bUDu4krwerUWTTMtoyOi76U8HWFbMBr\njJOKE+9mXoh+MFTzdKUeykIN6Vq1h5qcPXNfvEfNsWrcRZuwFPzU67lgVQZoflo1\naogOs6G5kTAx24QmUuvLbf89c4Cmq0/eudeJxjBbrurJzSY2wRzz23b8bMJwlEih\nRC7J/yR86OA1dTdE9McVUGdFmCYCRQLKCH+LHPH2Rz2vBUtW5Gl4PkfR+qBD5x20\nV63BJpgJj6vz84Jd7O4ALris3NFNGtfyw51fI33N+Xu1WPly1at1eRaHi/h0S/Cd\nuwIDAQAB\n-----END PUBLIC KEY-----"
